<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebRTC Chat</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    <script type="text/javascript" src="lib/peering.js"></script>
  </head>
  <body>
    <div id="vue-chat-app">
      <h1>Talking Stick</h1>
      <h2>Join Chat</h2>
      <input v-model="firstpeer" type="text" name="" value="" placholder="firstpeer">
      <a href="#" @click.prevent="startPeer()">Connect to a starter peer</a>

      <h2>Active Peers</h2>
      <ul>
        <li>Me: <a v-bind:href="'#'+id">{{id}}</a></li>
        <li v-for="(item, key, index) in peers">
          {{index}} - {{key}}

          <div v-bind:id="'peerVideo-'+key">

          </div>
        </li>
      </ul>

      <h2>Talking Stick Queue</h2>
      <a href="#" @click.prevent="queueUp()">Queue Up</a> |
      <a href="#" @click.prevent="leaveQueue()">Drop Mic</a>
      <ol>
        <li v-for="peer in queue">
          {{peer}}
        </li>
      </ol>

      <h2>Chat</h2>
      <input type="text" v-model="msg">
      <a href="#" @click.prevent="submitMsg()">Send</a>
      <ul>
        <li v-for="message in chatlog">
          {{message.user}}: {{message.body}}
        </li>
      </ul>

      <h2>Video Player Element</h2>
      <div id="video-elements">
      </div>

      <h2>My Mic Volume</h2>
      <canvas width="320px" height="30px" id="test" style="background-color: black;"></canvas>
      <h2>Volume Chart</h2>
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>

    <script type="text/javascript">
      var peer_id = null
      var settings = {
        host: '192.168.0.17',
        port: '9000',

        // Set highest debug level (log everything!).
        //debug: 3,

        // Set a logging function:
        logFunction: function() {
          var copy = Array.prototype.slice.call(arguments).join(' ');
          console.log(copy);
        }
      }

      var chatPeer = new Chat_Peer(peer_id, settings);

      /*

      var max_level_L = 0;
      var old_level_L = 0;
      var cnvs = document.getElementById("test");
      var cnvs_cntxt = cnvs.getContext("2d");

      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

      var audioContext = new AudioContext();

      function updateChart(label, data) {
        //console.log(myChart)

        if(myChart.data.labels.length > 20)
        {
          myChart.data.labels.shift();
          myChart.data.datasets[0].data.shift();
        }

        myChart.data.labels.push(label);
        myChart.data.datasets[0].data.push(data);
        myChart.update();
      }


      var counter = 0;

      navigator.getUserMedia(
        {audio:true, video:false},
        function(stream) {


          // video embed allows peer voice to play

          //var video = document.querySelector('video');
          //video.src = window.URL.createObjectURL(stream);



          // Audio
          var microphone = audioContext.createMediaStreamSource(stream);
          var javascriptNode = audioContext.createScriptProcessor(1024, 1, 1);

          microphone.connect(javascriptNode);
          javascriptNode.connect(audioContext.destination);
          javascriptNode.onaudioprocess = function(event){

            var inpt_L = event.inputBuffer.getChannelData(0);
            var instant_L = 0.0;

            var sum_L = 0.0;
            for(var i = 0; i < inpt_L.length; ++i) {
              sum_L += inpt_L[i] * inpt_L[i];
            }
            instant_L = Math.sqrt(sum_L / inpt_L.length);
            max_level_L = Math.max(max_level_L, instant_L);
            //instant_L = Math.max( instant_L, old_level_L -0.008 );
            old_level_L = instant_L;

            // instant Mic level

            counter++
            if( counter % 5 == 0)
            {

                normalized = instant_L*1000
                updateChart("Vol", normalized);
            }





            cnvs_cntxt.clearRect(0, 0, cnvs.width, cnvs.height);
            cnvs_cntxt.fillStyle = '#00ff00';
            cnvs_cntxt.fillRect(10,10,(cnvs.width-20)*(instant_L/max_level_L),(cnvs.height-20)); // x,y,w,h

          }
        },
        function(e){ console.log(e); }
      );
      */
    </script>
  </body>
</html>
